.containerAbout {
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  background-color: #fff;
  background-image: url("/images/about-impulso.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  max-height: 1400px;
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}