/* Banner.module.css */
.modalOverlay {
  position: fixed; /* Fijar el modal para que esté sobre todo el contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Asegura que el fondo esté bien oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000 !important; /* Un valor alto para que el modal esté sobre todo */
}

.hsInput {
  height: 60px;
  padding: 0.1rem 1.2rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #b8a148;
  background-color: #323535;
  color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
}

.errorText {
  color: gold; /* Esto hará que el texto sea dorado */
  font-size: 0.9rem; /* Opcional, ajusta el tamaño */
  margin-top: 4px; /* Opcional, un poco de espacio */
}

.hsSubmit {
  background-color: #b19630 !important;
  color: white !important;
  font-size: 1.3rem !important;
  padding: 0.5rem 1rem !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  width: 100%;
  height: 75px !important;
}

/* .sectionHero.dimmed {
  filter: brightness(0.5); 
  transition: filter 0.3s ease;
} */

.modalContent {
  padding: 1.3rem;
  background-color: #1b1b1b;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  z-index: 100000 !important; /* Asegurar que el contenido del modal esté encima del overlay */
  width: 50%; /* Para computadoras */
  height: auto; /* Altura del modal para computadoras */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Para pantallas móviles */
  @media screen and (max-width: 768px) {
    width: 90%;
    height: 100%;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  z-index: 100001 !important; /* Asegurar que el contenido del modal esté encima del overlay */
  align-items: center;
  text-align: center !important;
  font-size: 20px !important;
  font-weight: bold;
  color: white; /* Asegúrate de que esto esté aplicado correctamente */
}

.modalHeader h2 {
  font-size: 1.4rem !important;
  text-align: center !important;
  font-weight: bold;
  color: white; /* Asegúrate de que esto esté aplicado correctamente */
}

.closeModal {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white; /* Cambiar el color del botón cerrar */
}

.modalBody {
  margin-top: 20px;
  overflow-y: auto; /* Para permitir scroll si el contenido es largo */
}

.blueGradientHero {
  z-index: -10;
  background-color: #000;
  background-image: radial-gradient(
      circle at 50% -360%,
      rgba(18, 19, 21, 0.9) 83%,
      rgba(184, 161, 72, 0.9) 91%,
      #000 98%
    ),
    url("https://imagenesrutalab.s3.amazonaws.com/impulsoRestaurantero/banner/impulso%2Brestaurantero%2Blogros%2Bexito.jpg");
  background-position: 0 0, 70% 100%;
  background-size: cover;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}

.content {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  text-align: center;
}

.block-hero {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
}

.subtitle {
  color: #fff;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 50em;
  margin-bottom: 1.5em;
  padding: 0.7em 1.3em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3em;
  display: inline-block;
}

.heading-13 {
  color: #fff;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(175deg, #fff, rgba(224, 224, 224, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  width: 70%;
  /* font-family: Rohnrounded Black, sans-serif; */
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
}

/* .desktop {
  width: auto;
  margin-bottom: 0;
  line-height: 145%;
}

.mobile {
  display: none;
} */

.largeText {
  color: #fff;
  letter-spacing: 1px;
  padding-left: 95px;
  padding-right: 95px;
  font-weight: 300;
  font-size: 18px;
}
.largeText.desktop {
  line-height: 145%;
}
.largeText.mobile {
  display: none;
}

.button4 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.025em;
  background-color: transparent;
  background-image: linear-gradient(20deg, #6e5e19, #d5c345);
  border-radius: 14px;
  padding: 0.9em 1.8em;
  font-size: 1.42em;
  font-weight: 600;
  line-height: 1.2em;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  box-shadow: 0 7px 80px -12px #050401, inset 0 0 rgba(19, 36, 54, 0),
    inset 0 0 rgba(19, 36, 54, 0);
}
.button4:hover {
  box-shadow: 0 0 0 -10px #015aff, inset -15px 13px 30px #191a1d,
    inset 20px -55px 30px #191a1d;
}
.heading-13.mobile {
  display: none;
}
@media screen and (max-width: 479px) {
  .largeText.desktop {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .largeText.mobile {
    max-width: 80%;
    margin-top: -13px;
    line-height: 120%;
    display: block;
  }
}
@media screen and (max-width: 479px) {
  .heading-13 {
    color: #fff;
    width: 100%;
    margin-bottom: 0;
    font-size: 55px;
    line-height: 45px;
  }
}
@media screen and (max-width: 479px) {
  .heading-13.desktop {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .heading-13.mobile {
    justify-content: center;
    font-size: 42px;
    line-height: 100%;
    display: flex;
  }
}
@media screen and (max-width: 479px) {
  .button4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .largeText {
    font-size: 12px;
    line-height: 20px;
    padding: 0px;
  }

  /* .sectionHero {
    padding-top: 6em;
  } */
  .subtitle {
    font-size: 12px;
  }
}
